includes:
    - .phpstan.dist.baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    paths:
        - library
    excludePaths:
        - library/Zend/Service/WindowsAzure/Log/Writer/WindowsAzure.php
        - library/Zend/Stdlib/SplPriorityQueue.php
        - library/Zend/Test/
    level: 1
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    treatPhpDocTypesAsCertain: false
