<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    bootstrap="./TestHelper.php" 
    colors="true"
    testdox="true"
    cacheResult="false"
    convertDeprecationsToExceptions="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions = "true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage/>
  <testsuite name="Zend Framework - Testsuite">
    <directory>./</directory>
  </testsuite>
  <!-- Enable this for proper unit testing code coverage reports
    <filter>
        <whitelist>
            <directory suffix=".php">../library/Zend</directory>
        </whitelist>
    </filter>
    -->
</phpunit>
