<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    bootstrap="./TestHelper.php" 
    colors="true"
    verbose="true"
    cacheResult="false"
    convertDeprecationsToExceptions="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions = "true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
  <testsuite name="Zend Framework - Testsuite">
    <file>./Zend/AllTests.php</file>
  </testsuite>
</phpunit>
